
h1{
    color: brown;
    text-align: center;
}
footer{
    background-color: darkgrey;
    color:white;
    text-align: center;

}

.youtubeVideo{
    height:400px;
    width:100%;


}
/*Calendar Style*/
.calen{
    height:900px;
    width:100%;
}
/*Paypal Styling*/
.donation{
    text-align: center;
}
button{
    border-radius: 6px;
    background-color: #cc0000;
    color: white;
    border-style: none;
    padding: 6px;
}
